button {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: #E95420;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(230, 220, 220, 0.24), 0 17px 50px 0 rgba(240, 240, 240, 0.19);
}

li {
    list-style: none;
    display: inline;
  }

.nav:first-child {
    background:none;
    border:none;
    margin:0;
    padding:0;
    float: left;
}
 
li:nth-child(2) > button, .nav:nth-child(2), a {
    float: right;
    background: #E95420;
    border: 3px;
    margin:5px;
    padding:5px;
    color: #fff;
}

  