button {
    margin: 3px;
    text-align: center;
    float: right;
    border: 1px solid aquamarine;
    display: block;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(230, 220, 220, 0.24), 0 17px 50px 0 rgba(240, 240, 240, 0.19);
}

h3 {
    float: right;
    display: block;
}

h1 {
    text-align: center;
}