<div>
    <app-global-nav [globalNavs]="globalNavMenu" (selectedNav)="globalNavigate($event)"></app-global-nav>
</div>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<div *ngIf=(create)>
  <app-create-user [userList]="masterUserList" (addEvent)="addUser()"></app-create-user>
</div>

<div *ngIf=(login)>
  <app-user-login (userToFind)="userLogin($event)"></app-user-login>
</div>

<!-- <div *ngIf=(userProfile && selectedUser)>
    <app-user-profile ></app-user-profile>
</div> -->

<router-outlet></router-outlet>
